{% extends 'base.html.twig' %}

{% block title %}Zoo index{% endblock %}

{% block body %}
    <h1>Zoo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zoo in zoos %}
            <tr>
                <td>{{ zoo.id }}</td>
                <td>{{ zoo.nom }}</td>
                <td>{{ zoo.description }}</td>
                <td>
                    <a href="{{ path('app_zoo_show', {'id': zoo.id}) }}">show</a>
                    <a href="{{ path('app_zoo_edit', {'id': zoo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_zoo_new') }}">Create new</a>
{% endblock %}
