{% extends 'base.html.twig' %}

{% block title %}Zoo{% endblock %}

{% block body %}
    <h1>Zoo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zoo.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ zoo.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ zoo.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_zoo_index') }}">back to list</a>

    <a href="{{ path('app_zoo_edit', {'id': zoo.id}) }}">edit</a>

    <a href="{{ path('app_zoo_edit', {'id': zoo.id}) }}">edit</a>

    {{ include('zoo/_delete_form.html.twig') }}
{% endblock %}
